/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}




























/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');*/
/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: 'Poppins', sans-serif;*/
/*}*/

/*body{*/
/*    background: #644bff;*/
/*    padding: 0 20px;*/
/*}*/

/*::selection{*/
/*    color: #fff;*/
/*    background: #664AFF;*/
/*}*/

/*.wrapper{*/
/*    max-width: 450px;*/
/*    margin: 150px auto;*/
/*}*/

/*.wrapper .search-input{*/
/*    background: #fff;*/
/*    width: 100%;*/
/*    border-radius: 5px;*/
/*    position: relative;*/
/*    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);*/
/*}*/

/*.search-input input{*/
/*    height: 55px;*/
/*    width: 100%;*/
/*    outline: none;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    padding: 0 60px 0 20px;*/
/*    font-size: 18px;*/
/*    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);*/
/*}*/

/*.search-input.active input{*/
/*    border-radius: 5px 5px 0 0;*/
/*}*/

/*.search-input .autocom-box{*/
/*    padding: 0;*/
/*    opacity: 0;*/
/*    pointer-events: none;*/
/*    max-height: 280px;*/
/*    overflow-y: auto;*/
/*}*/

/*.search-input.active .autocom-box{*/
/*    padding: 10px 8px;*/
/*    opacity: 1;*/
/*    pointer-events: auto;*/
/*}*/

/*.autocom-box li{*/
/*    list-style: none;*/
/*    padding: 8px 12px;*/
/*    display: none;*/
/*    width: 100%;*/
/*    cursor: default;*/
/*    border-radius: 3px;*/
/*}*/

/*.search-input.active .autocom-box li{*/
/*    display: block;*/
/*}*/
/*.autocom-box li:hover{*/
/*    background: #efefef;*/
/*}*/

/*.search-input .icon{*/
/*    position: absolute;*/
/*    right: 0px;*/
/*    top: 0px;*/
/*    height: 55px;*/
/*    width: 55px;*/
/*    text-align: center;*/
/*    line-height: 55px;*/
/*    font-size: 20px;*/
/*    color: #644bff;*/
/*    cursor: pointer;*/
/*}*/